body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url(https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover; }

.container {
  width: 400px;
  height: 400px;
  position: relative; }
  .container--spin {
    animation: spin 10000ms infinite; }
  .container--talk .bottom-body__mouth {
    animation: talk 800ms infinite; }
  .container--wave .hand {
    animation: wave 2s infinite; }
  .container--shake {
    animation: shake 100ms infinite; }

.top-body__body {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%; }

.top-body__crown {
  width: 26.8%;
  height: 8%;
  background: #b6b6b6;
  position: absolute;
  border-radius: 50%;
  top: 24.8%;
  left: 36.7%;
  z-index: 99; }

.top-body__eyebrows {
  width: 16%;
  height: 8%;
  position: absolute;
  top: 35%;
  left: 40.5%;
  z-index: 99; }
  .top-body__eyebrows--left {
    width: 55%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    border-top: 5px solid #000; }
  .top-body__eyebrows--right {
    width: 55%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 65%;
    border-top: 5px solid #000; }

.top-body__nose {
  width: 3%;
  height: 3%;
  border-radius: 50%;
  border-bottom: 5px solid #000;
  position: absolute;
  top: 50%;
  left: 49%;
  z-index: 9999; }

.top-body__eyes {
  width: 15%;
  height: 8%;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 999; }
  .top-body__eyes--left {
    width: 55%;
    height: 100%;
    background-image: radial-gradient(cyan 0%, transparent 20%, #000 40%);
    border-radius: 50%;
    position: absolute;
    border: 5px solid #666; }
  .top-body__eyes--right {
    width: 55%;
    height: 100%;
    background-image: radial-gradient(cyan 0%, transparent 20%, #000 40%);
    border-radius: 50%;
    position: absolute;
    left: 65%;
    border: 5px solid #666; }

.bottom-body__belt {
  width: 31.8%;
  height: 8%;
  background-image: linear-gradient(90deg, #f4f4f4, #666666);
  position: absolute;
  border-radius: 50%;
  top: 51%;
  left: 34.1%;
  z-index: 999; }

.bottom-body__body {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%; }

.bottom-body__mouth {
  width: 20%;
  height: 5%;
  border-radius: 30%;
  background: #000;
  position: absolute;
  top: 62%;
  left: 40%; }

.hand {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 40%;
  left: 70%; }
  .hand__palm {
    width: 50%;
    height: 50%;
    background-image: linear-gradient(90deg, #888888, #242424);
    position: absolute;
    top: 50%;
    left: 25%;
    border-radius: 50%;
    border: 2px solid #666; }
  .hand__thumb {
    width: 10%;
    height: 25%;
    background-image: linear-gradient(90deg, #888888, #242424);
    position: absolute;
    top: 52%;
    left: 5%;
    border-radius: 25%;
    border: 2px solid #666;
    transform: rotate(-25deg); }
  .hand__finger1 {
    width: 10%;
    height: 25%;
    background-image: linear-gradient(90deg, #888888, #242424);
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 25%;
    border: 2px solid #666;
    transform: rotate(-15deg); }
  .hand__finger2 {
    width: 10%;
    height: 25%;
    background-image: linear-gradient(90deg, #888888, #242424);
    position: absolute;
    top: 18%;
    left: 45%;
    border-radius: 25%;
    border: 2px solid #666; }
  .hand__finger3 {
    width: 10%;
    height: 25%;
    background-image: linear-gradient(90deg, #888888, #242424);
    position: absolute;
    top: 20%;
    left: 65%;
    border-radius: 25%;
    border: 2px solid #666;
    transform: rotate(15deg); }

@keyframes talk {
  0% {
    height: 5%; }
  50% {
    height: 0%; }
  100% {
    height: 5%; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes wave {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(45deg); }
  50% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes shake {
  0% {
    transform: translateX(0px); }
  30% {
    transform: translateX(-20px); }
  60% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0px); } }
